<!DOCTYPE html>
<html>
  <head>
    <title>ReactRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  </head>

  <body>
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <%= render "layouts/navigation" %>
      <div id="page-wrapper" class="gray-bg">
        <%= render "layouts/topnavbar" %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </div>
    <%= yield :javascript %>
  </body>
</html>
