<!DOCTYPE html>
<html>
  <head>
    <title>ReactRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= javascript_include_tag 'template/pages.js' %>
    <%= yield %>
  </body>
</html>
